/* @import url("css-reset-from-josh.css"); */

@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");

:root {
  font-family: "Protest Revolution", sans-serif;
  --board-width: 400px;
  --ui-width: min(80vw, var(--board-width));
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  display: grid;
  place-items: start center;
  grid-template: 0 1fr 0 / 1fr auto 1fr;
}

main {
  grid-area: 2 / 2 / 3 / 3;
}

header {
  grid-area: 1 / 1 / 2 / -1;
}

footer {
  grid-area: 3 / 1 / 4 / -1;
}

#board-container {
  background-color: white;
  width: var(--ui-width);
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 4px;
  margin: 50px 30px;
}

#board-container > button {
  border: 0;
  background-color: black;
  color: white;
  font-size: 6.6rem;
  font-family: inherit;
  padding: 0;
}

#board-container > button > span {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease-out;
}

#board-container > button > span.appear {
  animation: appear 200ms cubic-bezier(0.5, 1.8, 0.1, 1.1);
}

@keyframes appear {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#board-container > button:not(.filled) {
  cursor: pointer;
}

#score-board {
  display: flex;
  color: white;
  font-size: 1.5rem;
  margin: 0 30px;
  justify-content: space-around;
  width: var(--ui-width);
}

#score-board > :nth-child(-n + 3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#score-board > * {
  transition: opacity 100ms ease-out;
}

#score-board > #mode {
  color: white;
  font-size: 1.5rem;
  position: relative;
  width: 58px;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#score-board > #mode > button {
  background-image: url("../icons/two-player.svg");
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  aspect-ratio: 1 /1;
  position: absolute;
  border: 0;
  width: 42px;
  left: 75%;
  top: -4px;
  transform: translate(-50%, 0);
  z-index: 0;
}

#score-board > #mode:hover,
#score-board > #mode > button:hover {
  cursor: pointer;
  opacity: 1;
}

#score-board > #mode > span:last-child {
  position: relative;
  background-color: #000000;
  border-radius: 20px;
  padding: 2px 5px 0 0;
}
