:root {
  --board-width: 400px;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

#board-container {
  background-color: white;
  width: var(--board-width);
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 4px;
}

#board-container > button {
  border: 0;
  background-color: black;
  color: white;
  font-size: 6.8rem;
}

#board-container > button:not(.filled) {
  cursor: pointer;
}
